{% extends "layout.html" %}
{% block head %}
<script src="{{ url_for('static', filename='js/detail.js') }}" > </script>
{% endblock %}

{% block body %}
<div class="row">
    <div class="span11">
        <ul class="nav nav-tabs" id="navTypes">
            {% for t in types %}
                <li><a href="#" data-typeid="{{ t }}">{{ types[t] }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="span1">
        <select name="selectPeriod" id="selectPeriod" class="span1">
            <optgroup label="Display last:">
                <option value="7,86400">Week</option>
                <option value="31,86400" selected>Month</option>
                <option value="31,172800">2 Months</option>
                <option value="31,345600">6 Months</option>
                <option value="24,1296000">Year</option>
            </optgroup>
        </select>
    </div>
</div>
<div class="row">
    <div class="span12">
        <figure class="large_chart" id="detailChart"></figure>
    </div>

</div>
{% endblock %}