{% extends "layout.html" %}

{% block body %}
<div class="row">
    <div class="span9">
        <h4>Histogram</h4>
    </div>
    <div class="offset1 span2">
        <select name="selectPeriod" id="selectPeriod" class="span2">
            <option value="7,86400">Last week</option>
            <option value="31,86400" selected>Last month</option>
            <option value="31,172800">Last 2 months</option>
            <option value="31,345600">Last 6 months</option>
            <option value="24,1296000">Last year</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="span12">
        <figure class="large_chart" id="detailChart"></figure>
    </div>

</div>
<script>
$(document).ready(function() {

    var state = new MoneyMan.ChartState();
    var detailChart = new MoneyMan.DetailChart(state, MoneyMan.HistogramApi);

    function setState(t,l,d) {
        state.set(t,l,d);

        detailChart.load();
    }


    $periodSelector = $('#selectPeriod');

    $periodSelector.change(function() {
        $this = $(this);

        parts = $this.val().split(',');

        setState(false, parseInt(parts[0]), parseInt(parts[1]));
    });
    setState();
});
</script>
{% endblock %}