{% extends "layout.html" %}
{% block head %}
<script src="{{ url_for('static', filename='js/histogram.js') }}" > </script>
{% endblock %}
{% block body %}
<div class="row">
    <div class="span8">
        <h4>Histogram</h4>
    </div>
    <div class="span2">
        <select name="selectType" id="selectType" class="span2">
            {% for t in types %}
                <option value="{{ t }}">{{ types[t] }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="span2">
        <select name="selectPeriod" id="selectPeriod" class="span2">
            <option value="week">Last week</option>
            <option value="month" selected>Last month</option>
            <option value="2months">Last 2 months</option>
            <option value="6months">Last 6 months</option>
            <option value="year">Last year</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="span12">
        <figure class="large_chart" id="detailChart"></figure>
    </div>

</div>
{% endblock %}