{% extends "layout.html" %}
{% block head %}
<script src="{{ url_for('static', filename='js/index.js') }}" > </script>
{% endblock %}

{% block body %} 

<div class=row>
    <div class="span12">
        <figure style="height: 400px;" id="catSpenditure"></figure>
    </div>
</div>
<hr>

<div class="row">
    <div class="span2">
        <h5>&nbsp;</h5>
        <p class="lead">This Month:</p>
    </div>
    <div class="span2">
        <h5>Takeout</h5>
        <p class="lead">{{ cool_stats.total_takeout }}</p>
    </div>
    <div class="span2">
        <h5>Coffee</h5>
        <p class="lead">{{ cool_stats.total_coffee }}</p>
    </div>
    <div class="span2">
        <h5>Income</h5>
        <p class="lead">{{ cool_stats.total_income }}</p>
    </div>
    <div class="span2">
        <h5>Expenses</h5>
        <p class="lead">{{ cool_stats.total_expenses }}</p>
    </div>
    <div class="span2">
        <h5>Average transaction</h5>
        <p class="lead">{{ cool_stats.avg_spending|int }}</p>
    </div>
    
</div>

<hr>
<div class=row>
    {% for type in types %}
    <div class="span6">
        <p>{{ types[type] }}</p>
        <hr>
        <figure id="type{{type}}History"></figure>
    </div>
    {% endfor %}
</div>
<script>
var type_spending = {{ type_spending|tojson|safe }};
var type_histograms = {{ type_histograms|tojson|safe }};
</script>
{% endblock %}