{% extends "layout.html" %}
{% block body %} 

<div class=row>
    <div class="span8">
    {% if transactions %}
        <table class="table">
            <thead>
                <tr>
                    <th><small>ID</small></th>
                    <th>Message</th>
                    <th>Amount</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                {% for trans in transactions %}
                <tr class="type{{trans.type}} type">
                    <td><span class="badge">{{ trans.id }}<span></td>
                    <td>{{ trans.message|title }}</td>
                    <td>{{ trans.amount }}</td>
                    <td>{{ trans.type|to_type_string }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h4>No transactions</h4>
        <p>You can <a href="{{ url_for('upload') }}">import transactions</a> to make them appear here.</p>
    {% endif %}
    </div>
    <div class="span4">
        <h5>Total spendings</h5>
        <p class="lead">{{ stats.expenses }} kr</p>
        <hr>

        <h5>Total income</h5>
        <p class="lead">{{ stats.income }} kr</p>
        <hr>

</div>
{% endblock %}