{% extends "layout.html" %}
{% block head %}
<script src="{{ url_for('static', filename='js/list.js') }}" > </script>
{% endblock %}
{% block body %} 

<div class=row>
    <div class="span10">
    {% if transactions %}
        <table class="table table-hover" id="transTable">
            <thead>
                <tr>
                    <th><small>ID</small></th>
                    <th><small>Date</small></th>
                    <th>Message</th>
                    <th>Amount</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                {% for trans in transactions %}
                <tr class="type{{trans.type}} type" data-id="{{ trans.id }}">
                    <td><span class="badge">{{ trans.id }}<span></td>
                    <td><small>{{ trans.time|to_str_date }}</small></td>
                    <td>{{ trans.message|title }}</td>
                    <td>
                        {{ trans.amount }}
                    </td>
                    <td>
                        <a href="{{ url_for('details') }}#{{ trans.type }},,">
                            {{ trans.type|to_type_string }}
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h4>No transactions</h4>
        <p>You can <a data-toggle="modal" data-target="#importModal">import transactions</a> to make them appear here.</p> 
    {% endif %}
    </div>
    <div class="span2">

        <h5>Total expenses</h5>
        <p class="lead">{{ stats.expenses }} kr</p>
        <hr>

        <h5>Total income</h5>
        <p class="lead">{{ stats.income }} kr</p>
        <hr>

        <h5>Standing balance</h5>
        <p class="lead">{{ stats.balance }} kr</p>
        <hr>

        <a data-toggle="modal" data-target="#importModal" class="btn btn-block btn-small btn-primary">Import csv</a>
        <a data-toggle="modal" data-target="#adjustBalanceModal" class="btn btn-block btn-small"> 
            Adjust balance
        </a>
</div>

<div id="adjustBalanceModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form method="POST" action="{{ url_for('adjust_balance') }}">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Adjust Balance</h3>
    </div>
    <div class="modal-body">
        <p>Add a record to the ledger</p>
        
        <input type="text" placeholder="Message" name="message">
        <input type="number" placeholder="-100" name="amount">kr
        
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <input type="submit" class="btn btn-primary" value="Add"></input>
    </div>
    </form>
</div>

<div id="importModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Upload CSV</h3>
    </div>
    <div class="modal-body">
        <p>Upload a CSV file of transactions to be classified and inserted into the ledger.</p>
        <p>The csv must be of the format: <code>YYYY-MM-DD, message, amount</code></p>
        <p>
            The column order and the date format are important. Any kind of separator character can be used.
        </p>
        
    </div>
    <div class="modal-footer">
        <form method="post" enctype="multipart/form-data" style="margin:0" action="{{ url_for('upload') }}" >
            <input type="file" name=file class="pull-left">
            <input type="submit" class="btn btn-primary">
        </form>
    </div>
    </form>
</div>

<div id="adjustTypeModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form method="POST" action="{{ url_for('adjust_type') }}">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Adjust Type</h3>
    </div>
    <div class="modal-body">
        <p>Set the type</p>
        <input type=hidden value="" id="transId" name="id">
        <select name="type">
            {% for t in types %}
            <option value="{{ t }}">{{ types[t] }}</option>
            {% endfor %}
        </select>
        
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <input type="submit" class="btn btn-primary" value="Add"></input>
    </div>
    </form>
</div>



{% endblock %}